@import "../../../../grid";
.main-product {
  display: flex;
  width: 100%;
  @include sm() {
    flex-direction: column;
  }
  .main-product__left {
    width: 50%;
    @include sm() {
      width: 100%;
    }
    .owl-carousel {
      display: block;
      border: 1px solid #c4c4c4;
      padding: 20px;
      border-radius: 5%;
      background-color: #f3e37c;
      width: 100%;
      div {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .main-product__right {
    width: 50%;
    @include sm() {
      width: 100%;
    }
    padding-left: 50px;
    @include sm() {
      padding: 20px 0px 0px;
    }
    .right-top {
      h2 {
        color: #00a149;
      }
      h3 {
        color: #ffc222;
        font-size: 32px;
      }
      padding-bottom: 20px;
      border-bottom: 1px solid #c4c4c4;
      @include sm() {
        text-align: center;
      }
    }
    .right-bot {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0px;
      @include sm() {
        align-items: center;
      }
      table.product-info {
        padding: 20px 0px;
        tr {
          td {
            font-weight: bolder;
            padding: 0 !important;

            &:first-child {
              width: 150px;
              color: #00a149;
            }
          }
        }
      }
      .product-quantity {
        width: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .quantity {
          display: flex;
          border-radius: 5px;
          background-color: #f0e7e7;
          margin-right: 20px;
          border: none;
          span {
            padding: 10px;
            font-size: 16px;
            color: #333;
            font-weight: bolder;
          }
        }
        button {
          margin-right: 20px;
          font-weight: bolder;
          padding: 10px;
          font-size: 18px;
          color: white;
          background-color: #f3e37c;
          transition: all 0.5s;
          &:hover {
            background-color: #333;
          }
          border: none;
          border-radius: 5px;
        }
        .btn-wishlist {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          background-color: #f0e7e7;
          border-radius: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        }
      }
    }
  }
}
