@import "../../../grid";
.header-top {
  //border-bottom: 1px solid rgb(100, 92, 92);
  padding: 10px 0;
  background-color: black;
  .container {
    @include md() {
      justify-content: center;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #c4d4df;
      font-size: 16px;
      text-align: center;
    }
    ul {
      display: flex;
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: white;
        }
      }
      &:first-child {
        @include md() {
          display: none;
        }
        justify-content: flex-start;
        li {
          margin-right: 30px;
        }
      }
      &:last-child {
        justify-content: flex-end;
        li {
          .fa-icon {
            transition: all 0.5s;
            &:hover {
              color: #f3e37c;
            }
          }
        }
      }
    }
  }
}
