@import "../../../../grid";
@import "../../../../flex";

tr {
  td {
    .image {
      width: 100px;
      height: 150px;
      border: 1px solid #ebeeee;
      img {
        width: 100%;
        height: 100%;
      }
      margin-right: 20px;
    }
    .text {
      .name {
        a {
          color: #2c2c2c;
        }
      }
      .rate {
        i {
          color: yellow;
        }
      }
    }

    .quantity {
      padding: 10px 10px;
      border: 1px solid #ebeeee;
      width: 100px;
    }
    border-bottom: 1px solid #ebeeee;
    padding: 20px 0px;
  }
}
