@import "../../../grid";

.detail-page {
  .product-path {
    padding: 50px 0px 30px 0px;
    .container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 450px) {
        justify-content: space-between;
      }
      a {
        color: #266bf9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        span {
          margin-right: 10px;
        }
      }
    }
  }
  .product-detail {
    .container {
      .related-products {
        padding-bottom: 20px;
        .title {
          padding: 20px;
          text-align: center;
          h2 {
            font-size: 36px;
            @media (max-width: 450px) {
              font-size: 24px;
            }
          }
        }

        .owl-carousel {
          position: relative;
          display: block;
          // .item {
          //   &:first-child {
          //     margin-left: 0;
          //   }
          //   border-radius: 0%;
          //   overflow: hidden;
          //   display: flex;
          //   align-items: center;
          //   flex-direction: column;
          //   padding: 20px;
          //   width: 100%;
          //   border: 1px solid #ece6e6;
          //   img {
          //     transition: all 0.5s;
          //     &:hover {
          //       transform: translateY(-10px);
          //     }
          //   }
          //   .text {
          //     text-align: center;
          //     h2 {
          //       font-size: 20px;
          //     }
          //     h3 {
          //       color: red;
          //       font-weight: normal;
          //     }
          //   }
          //   button {
          //     padding: 10px;
          //     background-color: #266cf9;
          //     border: none;
          //     border-radius: 10px;
          //     width: 60%;
          //     transition: all 0.5s;

          //     &:hover {
          //       background-color: red;
          //     }
          //     a {
          //       color: white;
          //       font-size: 10px;
          //     }
          //   }
          // }

          .owl-nav {
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 97%;
            display: flex;
            justify-content: space-between;

            .owl-prev,
            .owl-next {
              background: none !important;
              span {
                color: rgb(156, 151, 151);
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
}
