@import "../../../grid";
.item {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  border: 2px solid #c4c4c4;
  border-radius: 10%;
  img {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .text {
    text-align: center;
    h2 {
      font-size: 20px;
      color: #333;
    }
    h3 {
      color: red;
      font-weight: normal;
    }
  }
  button {
    padding: 10px;
    background-color: #266cf9;
    border: none;
    border-radius: 10px;
    width: 60%;
    @include sm() {
      width: max-content;
    }
    transition: all 0.5s;
    &:hover {
      background-color: red;
    }
    a {
      color: white;
      @include sm() {
        font-size: 10px;
      }
    }
  }
  &:first-child {
    margin-left: 20px;
  }
}
