@import "../../grid";
.popular {
  background-color: white;
  padding: 30px 0px 20px 0px;
  margin-bottom: 20px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .popular-title {
      width: 100%;
      border-bottom: 1px solid #c4c4c4;
      margin-bottom: 20px;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .popular-title__top {
        h2 {
          font-size: 36px;
          @include sm() {
            font-size: 24px;
          }
        }
        margin-bottom: 20px;
      }
      .popular-title__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // width: 45%;
        // @include md() {
        //   width: 60%;
        // }
        // @include sm() {
        //   margin-top: 20px;
        //   width: 100%;
        // }

        width: 50%;
        @include xs() {
          width: 100%;
        }
        @include sm() {
          width: 80%;
        }
        button {
          padding: 10px;
          width: 100px;
          border-radius: 50px;
          border: 1px solid #ffc222;
          a {
            color: #333;
          }
          font-size: 16px;
          @include xs() {
            font-size: 10px;
            padding: 5px;
          }
          font-weight: bold;
          background-color: white;
          transition: all 0.5s;
          &:hover {
            background-color: #ffc222;
            border: none;
            a {
              color: white;
            }
          }
        }
      }
    }
    .popular-products {
      width: 100%;
      .row {
        width: 100%;
        .item {
          margin-bottom: 20px;
        }
      }
    }
    .more-products {
      width: 100px;
      padding: 10px 0px;
      outline: none;

      border: none;
      background-color: #00a149;
      &:hover {
        background-color: #ffc222;
        transition: all 0.5s;
      }
      a {
        font-weight: bold;
        color: white;
        width: 100%;
        height: 100%;
      }
    }
  }
}
