@import "../../../flex";
@import "../../../grid";

.all-products {
  margin-top: 50px;
  .container {
    .all-products__header {
      width: 100%;
      border-top: 1px dashed #00a149;
      position: relative;
      div {
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        background-color: #f3d34a;
        color: white;
        border-radius: 10px;
      }
    }
    .all-products__body {
      width: 100%;
      margin-top: 30px;
      .row {
        .item {
          margin-bottom: 20px;
        }
      }
    }
    .all-products__footer {
      margin: 30px 0px;
      .page-number {
        min-width: 200px;
        justify-content: space-around;
        span {
          width: 30px;
          height: 30px;
          text-align: center;
          display: flex;
          justify-content: center;
          color: black;
          align-items: center;
          cursor: pointer;
        }
        span.active {
          color: white;
          background-color: red;
        }
      }
    }
  }
}
