@import "../../../flex";
@import "../../../grid";

.all-products {
  margin-top: 50px;
  .container {
    .all-products__header {
      width: 100%;
      border-top: 1px dashed #00a149;
      position: relative;
      h4 {
        @include xs() {
          font-size: 16px;
          text-align: center;
        }
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        background-color: #f3d34a;
        color: white;
        border-radius: 10px;
      }
      .category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        @include xs() {
          flex-direction: column;
        }
        // width: 45%;
        // @include md() {
        //   width: 60%;
        // }
        // @include sm() {
        //   margin-top: 20px;
        //   width: 100%;
        // }
        .category__left {
          @include xs() {
            margin-bottom: 20px;
            width: 100%;
          }
          @include sm() {
            width: 80%;
          }
          width: 50%;
          button {
            padding: 10px;
            width: 100px;
            border-radius: 50px;
            border: 1px solid #ffc222;
            a {
              color: #333;
            }
            font-size: 16px;
            @include xs() {
              font-size: 10px;
              padding: 5px;
            }
            font-weight: bold;
            background-color: white;
            transition: all 0.5s;
            &:hover {
              background-color: #ffc222;
              border: none;
              a {
                color: white;
              }
            }
          }
        }
        .category__right {
          font-weight: bold;
          select {
            border-color: #ffc222;
            outline: none;
          }
        }
      }
    }
    .all-products__body {
      border-top: 1px solid #c4c4c4;
      width: 100%;
      margin-top: 10px;
      padding-top: 20px;
      .row {
        .item {
          margin-bottom: 20px;
        }
      }
    }
    .all-products__footer {
      margin: 30px 0px;
      .page-number {
        min-width: 200px;
        justify-content: space-around;
        span {
          width: 30px;
          height: 30px;
          text-align: center;
          display: flex;
          justify-content: center;
          color: black;
          align-items: center;
          cursor: pointer;
        }
        span.active {
          color: white;
          background-color: red;
        }
      }
    }
  }
}
